<h1>About page</h1>
<p>This website is built by students, for students. Our goal in making
this website is to help fellow college students get that internship/full-time job that they want.</p>
<center><a href="/">Home</a>
</center>