<center>
<h1>Welcome to The Job Helper Home Page!</h1>
<h3> This site will help you find a job</h3>

<h4>Click <a href="/static_pages/about">on this link</a> to visit the about page for this site</h4>
<h4>Click <a href="/static_pages/cover_letter_tips">on this link</a> to visit the cover letter tips page</h4>
<h4>Click <a href="/static_pages/helpful_links">on this link</a> to visit the helpful links page</h4>

<h3>Click <a href="/job_applications">on this link</a> to visit the index of job applications</h3>

<p>This website is in progress</p>
</center>
